body { 
	background:#000;
	color:#fff;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:georgia;
	/*text-align:center;*/
}
a { color:skyblue }
canvas { pointer-events:none; z-index:10; }
#log { position:absolute; top:50px; text-align:left; display:block; z-index:100 }
.d { text-align:center; /*margin:1em 0 -18em 0;*/ z-index:0; position:relative; display:block }
.button { background:gray; color:#fff; padding:0.2em 0.5em; cursor:pointer; margin:3px }
.active { background:orange }
